.errorImage {
  display: flex;
}

.errorText {
  width: 50%;
  min-height: 100vh;
  height: 100%;
}

.header {
  font-size: 2.2rem;
  line-height: 2.4rem;
}

.inputField {
  height: 100%;
}

.submitButton {
  width: fit-content;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .errorImage {
    display: none;
  }
  .errorText {
    width: 100%;
  }
  .header {
    font-size: 1.8rem;
    line-height: 1;
  }
  .inputField {
    height: 100%;
  }
  .submitButton {
    width: 100%;
    padding: 0.2rem;
    margin-left: 0.3rem;
    font-size: 0.8rem;
    box-sizing: border-box;
  }
}
